.submenu_title {
  font-weight: 600;
  font-size: clamp(10px, 10px, 20px);
  line-height: 120%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.menu_item {
  font-weight: 400;
  font-size: clamp(14px, 14px, 20px);
  color: #a2a2a2;
  line-height: 120%;
}
.menu_email {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}
.menu_copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}
