.inline_category_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
}

.product_title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.product_title_lg {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
}

.inline_category_product_title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.product_category_lg {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product_description {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

.product_description_lg {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.inline_category_product_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.product_curimage {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
}

.product_price {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.product_price_lg {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.inline_category_product_price {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.product_to_cart {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.separator_bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.separator_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafa;
}

.separator_title_lg {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fafafa;
}

.separator_text {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.separator_text_lg {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #fafafa;
}

.menuslider_item {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 2px;
}

.menuslider_item_lg {
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 2px;
}

.comments_title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.comments_title_lg {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
}

.comments_autor {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.comments_autor_lg {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
}

.comments_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

.comments_text_lg {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.comments_product_title_lg {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
