.section_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
/* buttons */
.add_to_cart_lg_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}
