.contact_title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.contact_button {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
