.product_title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  /* or 34px */

  font-feature-settings: 'pnum' on, 'lnum' on;
}

.product_description {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}
.product_price {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.product_to_cart {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
